<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>NLP Project - Team27</title>
</head>
<body>
    <header class="text-gray-700 body-font" style="background-color: #3FADA8">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg> -->
            <span class="ml-3 text-xl" style="color: white;">NLP Team 27 Project</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center" style="color: white;">
            <a class="mr-5 hover:text-gray-900" href="/">Home</a>
            <!-- <a class="mr-5 hover:text-gray-900" href="/members">Members</a> -->
              <a class="mr-5 hover:text-gray-900" href="/readme">ReadMe</a>
            <a class="mr-5 hover:text-gray-900" href="/about">About</a>
          </nav>
        </div>
      </header>

<section class="ml-20 mr-20 text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <!-- <embed src="{{ url_for('static', filename="ReadMe.pdf")}}" width="1500" height="1000"
 type="application/pdf"> -->

  </div>
</section>



</body>
</html>